<form nz-form [formGroup]="validateForm" >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSpan]="20" nzHasFeedback  [nzErrorTip]="nameErrorTpl" >
      <input nz-input type="text" [(ngModel)]="currentUser.name" formControlName="name" nzStatus="warning">
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your name!</ng-container>
        <ng-container *ngIf="control.hasError('pattern')">Only alphabetsallowed!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Age</nz-form-label>
    <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="ageErrorTpl">
      <nz-input-number nz-input name="age" [(ngModel)]="currentUser.age" formControlName="age"></nz-input-number>
      <ng-template #ageErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your age!</ng-container>
        <ng-container *ngIf="control.hasError('pattern')">Please enter a valid number between 1 and 200.</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Class</nz-form-label>
    <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="classErrorTpl">
      <input nz-input name="class" type="text" [(ngModel)]="currentUser.class" formControlName="class">
      <ng-template #classErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your class!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="12">
      <button nz-button nzType="primary" nzSize="large" (click)="submitForm()">Update</button>
    </nz-form-control>
  </nz-form-item>
</form>


