<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="user`">User</label>
        <input
          type="text"
          class="form-control"
          id="user"
          required
          [(ngModel)]="user.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input
          class="form-control"
          id="age"
          required
          [(ngModel)]="user.age"
          name="age"
        />
      </div>

      <div class="form-group">
        <label for="age">Class</label>
        <input
          class="form-control"
          id="class"
          required
          [(ngModel)]="user.class"
          name="class"
        />
      </div>

      <button (click)="saveUser()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>User was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newUser()">Add</button>
    </div>
  </div>
</div>
