<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSpan]="20" nzHasFeedback  [nzErrorTip]="nameErrorTpl" >
      <input [(ngModel)]="user.name" pattern="[a-zA-Z][a-zA-Z ]+" nz-input type="text" formControlName="name">
      <ng-template #nameErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required') ">Please input your name!</ng-container>
        <ng-container *ngIf="control.hasError('pattern')">Only alphabetsallowed!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Age</nz-form-label>
    <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="ageErrorTpl">
      <nz-input-number pattern="^(0?[1-9]|[1-9][0-9]|[1][1-9][1-9]|100)$" [(ngModel)]="user.age" type="number" nz-input name="age" formControlName="age"></nz-input-number>
      <ng-template #ageErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your age!</ng-container>
        <ng-container *ngIf="control.hasError('pattern')">Please enter a valid number between 1 and 100.</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired>Class</nz-form-label>
    <nz-form-control [nzSpan]="20" nzHasFeedback [nzErrorTip]="classErrorTpl">
      <input [(ngModel)]="user.class" nz-input name="class" type="text" formControlName="class">
      <ng-template #classErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please input your class!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item >
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="12">
      <button nz-button nzType="primary" nzSize="large" (click)="submitForm()">Submit</button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="submitted">
    <h4>User was submitted successfully!</h4>
  </nz-form-item>
</form>
