<nz-header>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" >
    <li nz-menu-item ><a [routerLink]="['list-user']">Home</a></li>
    <li nz-menu-item ><a [routerLink]="['add']">Add User</a></li>
    <li nz-menu-item ><a [routerLink]="['list-user-late']">List User Late</a></li>
  </ul>
</nz-header>


<!-- <nz-page-header>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" >
    <li nz-menu-item ><a [routerLink]="['list-user']">Home</a></li>
    <li nz-menu-item ><a [routerLink]="['add']">Add User</a></li>
    <li nz-menu-item ><a [routerLink]="['list-user-late']">List User Late</a></li>
  </ul>
</nz-page-header> -->
