
<div nz-col nzSpan="16" nzOffset="4">
  <h4>List User Checkin Late</h4>
  
  <nz-date-picker  [(ngModel)]="date" (ngModelChange)="onChange($event)" nzMode="month" [nzFormat]="monthFormat"></nz-date-picker>
  <button nz-button nzType="primary" (click)="getListUserLate()">
    <span nz-icon nzType="search"></span>
    Search
  </button>
<nz-table #listUserLate [nzData]="listuserlate">
  <thead>
    <tr>
      <th>UserId</th>
      <th>Name</th>
      <th>Time Checkin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userLate of listUserLate.data">
      <td>{{userLate.userId}}</td>
      <td>{{userLate.name}}</td>
      <td>{{userLate.timeCheckin}}</td>
    </tr>
  </tbody>
</nz-table>
</div>
