<h4>List User</h4>
  <nz-table #userListTable [nzData]="users">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Class</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let user of userListTable.data">
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.class}}</td>
        <td>
        <button
        nz-button
        [nzType]="'primary'"
        routerLink="/edit/{{user._id }}">
          <span>Edit</span>
        </button>
        <button
        nzType="primary"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure delete this user?"
        (nzOnConfirm)="deleteUser(user._id)"
        (nzOnCancel)="cancel()"
        nzPopconfirmPlacement="rightTop"
        nz-button
        nzDanger
      >
        Delete
      </button>
      <button
        nz-button
        [nzType]="'primary'"
        routerLink="/edit/{{user._id }}">
          <span>Checkin</span>
        </button>
      </td>
      </tr>
    </tbody>
  </nz-table>




