
  <nz-table #userListTable [nzData]="users">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Class</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userListTable.data">
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.class}}</td>
        <td><a
          class="badge badge-warning"
          routerLink="/edit/{{ user._id }}"
        >
          Edit
        </a>
        <button
        nz-popconfirm
        nzPopconfirmTitle="Are you sure delete this task?"
        (nzOnConfirm)="confirm()"
        (nzOnCancel)="cancel()"
        nzPopconfirmPlacement="rightTop"
        nz-button
      >
        RT
      </button>
      </td>
      </tr>
    </tbody>
  </nz-table>




